
{{!-- TODOS LOS PRODUCTOS SE MOSTRARAN EN ESTE ORDEN    --}}


{{!-- ---------------------------------------------------- --}}

    <div class="col-lg-4 col-md-4 all jardin">
        <div class="product-item">
        <a href="producto__1.jpg" target="_blank"><img src="producto_1.jpg" alt=""></a>
        {{!-- <img src="producto_1.jpg" alt=""> --}}
            <div class="down-content">
                
                <h4>APRESTAMIENTO</h4>
                <h6>$260</h6>
                
                <p>JARDIN DE 5 AÑOS. Tiene actividades para ablandar la mano. Es un paso previo para iniciarlos en la escritura.
                40 Páginas.
                </p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul>  
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}

    <div class="col-lg-4 col-md-4 all 1er">
        <div class="product-item">
        <a href="producto__2.jpg" target="_blank"><img src="producto_2.jpg" alt=""></a>
        
        {{!-- <img src="producto_2.jpg" alt=""> --}}
            <div class="down-content">
                <h4>1º GRADO</h4>
                
                <h6>$260</h6>
                
                <p>Cuadernillo para 1º grado. Es para trabajar durante el año escolar. Con actividades de lengua y matemática, sobre todo. Carátula a color+39 páginas con las actividades + hoja para recortar. En las primeras hojas contiene algo de aprestamiento. También cuenta con 4 actividades para cortar y pegar</p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <div class="col-lg-4 col-md-4 all libretas">
        <div class="product-item">
        <a href="producto__3.jpg" target="_blank"><img src="producto_3.jpg" alt=""></a>

        {{!-- <img src="producto_3.jpg" alt=""> --}}
            <div class="down-content">
                <h4>LIBRETA DEL PROFESOR</h4>
                <h6>$190</h6>
                
                <p>Presentamos una libreta nueva. (LIBRETA PARA EL PROFESOR) Tiene para registrar las notas de cada trimestre más las asistencias e inasistencias de cada alumno desde marzo hasta diciembre. Cómoda y práctica para llevarla en el maletín. Hasta 36 alumnos se puede anotar. </p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}


    <div class="col-lg-4 col-md-4 all jardin">
        <div class="product-item">
        <a href="producto__4.jpg" target="_blank"><img src="producto_4.jpg" alt=""></a>
        
        {{!-- <img src="producto_4.jpg" alt=""> --}}
            <div class="down-content">
                <h4>JUGANDO CON EL LÁPIZ</h4>
                <h6>$260</h6>
                
                <p>Ideal para niños de jardín de 4 años. En las fotos podrán observar algunas de las actividades que los peques podrán realizar para mejorar la motricidad de su mano. Tiene 42 páginas con las actividades + caratula a color.  </p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <div class="col-lg-4 col-md-4 all jardin">
        <div class="product-item">
        <a href="producto__5.jpg" target="_blank"><img src="producto_5.jpg" alt=""></a>

        {{!-- <img src="producto_5.jpg" alt=""> --}}
            <div class="down-content">
                <h4>LEER ES DIVERTIDO</h4>
                <h6>$330</h6>
                
                <p>Cuadernillo para aprender a leer, 1 y 2 grado. Tiene 66 páginas, con dibujos a color y para colorear. En las fotos observarán la calidad de la impresión.  </p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <div class="col-lg-4 col-md-4 all 1er">
        <div class="product-item">
        <a href="producto__6.jpg" target="_blank"><img src="producto_6.jpg" alt=""></a>

        {{!-- <img src="producto_6.jpg" alt=""> --}}
            <div class="down-content">
                <h4>MATEMÁTICA 1   VOL :1</h4>
                <h6>$160</h6>
                
                <p>Tiene 40 páginas. Numeración hasta el 30. Sumas y restas. Anterior posterior. Completar la secuencia numérica. Unir los puntos para formar el dibujo. Unir con flechas. </p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <div class="col-lg-4 col-md-4 all 2do">
        <div class="product-item">
        <a href="producto__7.jpg" target="_blank"><img src="producto_7.jpg" alt=""></a>

        {{!-- <img src="producto_7.jpg" alt=""> --}}
            <div class="down-content">
                <h4>MATEMÁTICA 2. </h4>
                <h6>$260</h6>
                
                <p>Numeración del 100 al 1.000 Sumas.  Restas. Tabla de multiplicar del 2, 3 y 4. Descomposición de números. Escribir el número anterior y posterior. La mitad. 40 páginas.</p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <div class="col-lg-4 col-md-4 all 1er">
        <div class="product-item">
        <a href="producto__8.jpg" target="_blank"><img src="producto_8.jpg" alt=""></a>

        {{!-- <img src="producto_8.jpg" alt=""> --}}
            <div class="down-content">
                <h4>MATEMÁTICA 1 VOL:2 </h4>
                <h6>$160</h6>
                
                <p>Este cuadernillo tiene 40 páginas con numeración hasta el 10. Dimensiones 15x20 cm. Muy practico por su tamaño. En las fotos observarán las actividades. Los peques jugando aprenderán los números.</p>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
                </ul> 
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (+20)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <script>
      function load() {
        var b = document.querySelector("#liProducto");
        b.setAttribute("class","active");
      }
     
      setTimeout(function(){
            window.onload = load();
        },2000);
    </script>