
{{!-- TODOS LOS PRODUCTOS SE MOSTRARAN EN ESTE ORDEN    --}}


{{!-- ---------------------------------------------------- --}}

    <div class="col-lg-4 col-md-4 all jardin">
        <div class="product-item">
        <a href="producto__2.jpg" target="_blank"><img src="producto_2.jpg" alt=""></a>
        
            <div class="down-content">
                
                <a href="producto__2.jpg" target="_blank"><h4>Titulo del producto</h4></a>
                <h6>$Precio</h6>
                
                <p>Descripcion del producto.</p>
                
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (24)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}

    <div class="col-lg-4 col-md-4 all libretas">
        <div class="product-item">

        <a href="producto__3.jpg"><img src="producto_3.jpg" alt=""></a>
            <div class="down-content">
                <h4>Titulo del producto</h4>
                
                <h6>$Precio</h6>
                
                <p>Descripcion del producto.</p>
                
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (24)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}
    <div class="col-lg-4 col-md-4 all 2do">
        <div class="product-item">
        <img src="producto_1.jpg" alt="">
            <div class="down-content">
                <h4>Titulo del producto</h4>
                <h6>$Precio</h6>
                
                <p>Descripcion del producto.</p>
                
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                <span>Ventas (24)</span>
            </div>
        </div>
    </div>

{{!-- ---------------------------------------------------- --}}


