    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Promoción</h2>
            </div>
          </div>
          
		  <div class="col-md-6">
            <div class="left-content">
              <h4>COMBO</h4>
				<ul>
				<li>-Aprestamiento</li>
        <li>-1er Grado</li>
        <li>-Leer es Divertido</li>

        </ul>
        <p>
          Descripción: Combo de cuadernillos para 1º grado, para agilizar la mano, llevarlo a conocer los números, letras y para aprender a leer.
				</p>
        
        
				
				<ul class="featured-list">
                	<li>$750</li>
        </ul>
         <ul class="social-icons">
            <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://wa.me/+5493832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
        </ul>    
            </div>
          </div>
          
		  <div class="col-md-6">
            <div class="right-image">
              <img src="producto_ultimo.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>