    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Ultimo Producto Agregado</h2>
            </div>
          </div>
          
		  <div class="col-md-6">
            <div class="left-content">
              <h4>Titulo de nuevo producto</h4>
				<p>
				Descripcion de nuevo produco	
				</p>
				
				<ul class="featured-list">
                	<li>$Precio</li>
                	
                	
                
              	</ul>
             
            </div>
          </div>
          
		  <div class="col-md-6">
            <div class="right-image">
              <img src="producto_4.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>