<!DOCTYPE html>
<html lang="en">

{{!-- head --}}
	
	{{> head}}

  <body>

    <!-- Header -->
		{{> header}}

    <!-- Page Content -->
    <!-- Banner Starts Here _ NUEVAS IMAGENES Y QUE PEUDE DECIR -->
	
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Titulo 1</h4>
            <h2>Descripción 1</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Titulo 2</h4>
            <h2>Descripción 2</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Titulo 3</h4>
            <h2>Descripción 3</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->


	{{!-- UltimoProducto --}}
	{{> ultimoProducto}}
	
	<!-- productos -->
	
	<div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Productos Destacados</h2>
              <a href="/nuestrosProductos">view all products <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          
		  {{!-- cada producto --}}
		  {{> todosLosProductos}}
	

        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Nombre de la empresa; <em>marca de la emrpesa</em> Tipo de producto de la emrpesa</h4>
                  <p>Descripcion de la empresa</p>
                </div>
                {{!-- <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     {{!-- footer --}}
	 {{> footer}}


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
