<!DOCTYPE html>
<html lang="en">

  {{!-- head --}}
	
	{{> head}}

  <body>


    <!-- Header -->
		{{> header}}

    <!-- Page Content -->
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>consigue nuestros productos</h4>
              <h2>puntos de ventas en catamarca</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


{{!-- --bLOQUE DE DIRECCION----- --}}

      <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Puntos de Ventas Aderidos</h2>
            </div>
          </div>
          <div class="col-md-8">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2866.0502297301555!2d-65.78968460260172!3d-28.4434195475643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942426219b7d882b%3A0xdc4901bf1d9fa854!2sk4700%2C%20Padre%20Cardozo%201708%2C%20K4700%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses!2sar!4v1626786084600!5m2!1ses!2sar" width="100%" height="330px" frameborder="0" style="border:0"  ></iframe>           
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
               <h4>Oficina Central</h4>    
             
                <p>Rizo patrón 74</p>
                <p>Wsp: 3832688677</p>
            
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://wa.me/3832688677" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


{{!-- --bLOQUE DE DIRECCION----- --}}

      <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              {{!-- <h2>Nuestra Localización en el Mapa</h2> --}}
            </div>
          </div>
          <div class="col-md-8">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3508.2041842156414!2d-65.78235626220703!3d-28.44326067158962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9424261f2293576b%3A0x60222fd4ae6e6cad!2sPedro%20Agote%201757%2C%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses!2sar!4v1626963950452!5m2!1ses!2sar" width="100%" height="330px" frameborder="0" style="border:0"  ></iframe>           
              {{!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3508.2041842156414!2d-65.78235626220703!3d-28.44326067158962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9424261f2293576b%3A0x60222fd4ae6e6cad!2sPedro%20Agote%201757%2C%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses!2sar!4v1626963950452!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> --}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
               <h4>"SUPER CHINO"</h4>    
              <p>Super chino esquina Maipu norte y Rizo Patron</p>
                {{!-- <p>"direccion de comercio"</p> --}}
                {{!-- <p>Wsp: "agregar"</p> --}}
            
              <ul class="social-icons">
                {{!-- <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li> --}}
                {{!-- <li><a href="https://wa.me/3832688677"><i class="fab fa-whatsapp"></i></a></li> --}}
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{{!-- ---------finde de bloque --}}
{{!-- --bLOQUE DE DIRECCION----- --}}

      <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              {{!-- <h2>Nuestra Localización en el Mapa</h2> --}}
            </div>
          </div>
          <div class="col-md-8">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3508.5731950562704!2d-65.7727200910449!3d-28.432132683719278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94242704d7d4c6f7%3A0xf53a16a6d3491757!2sDespensa%20Kiosco%20Techy%2024%20Hrs%20Abierto!5e0!3m2!1ses!2sar!4v1626965380292!5m2!1ses!2sar"width="100%" height="330px" frameborder="0" style="border:0"></iframe>
              {{!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3508.5731950562704!2d-65.7727200910449!3d-28.432132683719278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9424260fd76c2759%3A0x7feb19adfc914a1e!2sk4700%2C%20Av.%20Los%20Terebintos%201101%2C%20K4700%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses!2sar!4v1626964061161!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> --}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
               <h4>"BIEFER"</h4>    
             
                <p>"Biefer Esquina Terebintos y Aguada"</p>
                {{!-- <p>Wsp: "agregar"</p> --}}
            
              <ul class="social-icons">
                {{!-- <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li> --}}
                {{!-- <li><a href="https://wa.me/3832688677"><i class="fab fa-whatsapp"></i></a></li> --}}
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{{!-- ---------finde de bloque --}}

{{!-- --bLOQUE DE DIRECCION----- --}}

      <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              {{!-- <h2>Nuestra Localización en el Mapa</h2> --}}
            </div>
          </div>
          <div class="col-md-8">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3507.8752756653!2d-65.78523829579353!3d-28.4531759621801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94242993f6786fd5%3A0x8ebc250d4c8445fb!2sInt.%20Felix%20Doering%20272%2C%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses!2sar!4v1626964134345!5m2!1ses!2sar" width="100%" height="330px" frameborder="0" style="border:0"  ></iframe>           
              {{!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3507.8752756653!2d-65.78523829579353!3d-28.4531759621801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94242993f6786fd5%3A0x8ebc250d4c8445fb!2sInt.%20Felix%20Doering%20272%2C%20San%20Fernando%20del%20Valle%20de%20Catamarca%2C%20Catamarca!5e0!3m2!1ses!2sar!4v1626964134345!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> --}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
               <h4>"SUPER CHINO"</h4>    
             
                <p>"Super chino frente a la residencia universitaria"</p>
                {{!-- <p>Wsp: "agregar"</p> --}}
            
              <ul class="social-icons">
                {{!-- <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li> --}}
                {{!-- <li><a href="https://wa.me/3832688677"><i class="fab fa-whatsapp"></i></a></li> --}}
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{{!-- ---------finde de bloque --}}

{{!-- --bLOQUE DE DIRECCION----- --}}

      <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              {{!-- <h2>Nuestra Localización en el Mapa</h2> --}}
            </div>
          </div>
          <div class="col-md-8">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d656.9140959127424!2d-65.80139314644087!3d-28.46446973697299!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9424288ee747daf3%3A0x51f4065341c4698c!2sAlto%20Del%20Solar%20Centro%20De%20Compras!5e0!3m2!1ses!2sar!4v1626965767209!5m2!1ses!2sar" width="100%" height="330px" frameborder="0" style="border:0"></iframe>
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
               <h4>"Revisteria"</h4>    
             
                <p>"Revisteria frente al super de Altos del Solar."</p>
                {{!-- <p>Wsp: "agregar"</p> --}}
            
              <ul class="social-icons">
                {{!-- <li><a href="https://www.facebook.com/marcelofabian.lobo.56" target="_blank"><i class="fa fa-facebook"></i></a></li> --}}
                {{!-- <li><a href="https://wa.me/3832688677"><i class="fab fa-whatsapp"></i></a></li> --}}
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{{!-- ---------finde de bloque --}}


    
     {{!-- footer --}}
	  {{> footer}}


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>